.landing-page {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.landing-page .div {
  background-color: #ffffff;
  width: 1440px;
  height: 4811px;
  position: relative;
}

.landing-page .text-wrapper {
  position: absolute;
  width: 625px;
  top: 3856px;
  left: 80px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 48px;
  letter-spacing: -0.96px;
  line-height: normal;
}

.landing-page .cards {
  display: flex;
  width: 1280px;
  align-items: flex-start;
  gap: var(--variable-collection-spacing-SM);
  position: absolute;
  top: 3963px;
  left: 80px;
}

.landing-page .customer-quote {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--variable-collection-spacing-m);
  padding: var(--variable-collection-spacing-SM);
  position: relative;
  flex: 1;
  flex-grow: 1;
  margin-top: -1px;
  margin-bottom: -1px;
  margin-left: -1px;
  background-color: #ffffff;
  border-radius: 12px;
  border: 1px solid;
  border-color: var(--colors-border-border-default);
}

.landing-page .text-wrapper-2 {
  position: relative;
  align-self: stretch;
  margin-top: -0.5px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 36px;
}

.landing-page .avatar {
  display: inline-flex;
  align-items: center;
  gap: 16px;
  position: relative;
  flex: 0 0 auto;
}

.landing-page .img {
  position: relative;
  width: 45px;
  height: 45px;
}

.landing-page .frame {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2px;
  position: relative;
  flex: 0 0 auto;
}

.landing-page .text-wrapper-3 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--small-text-font-family);
  font-weight: var(--small-text-font-weight);
  color: #000000;
  font-size: var(--small-text-font-size);
  letter-spacing: var(--small-text-letter-spacing);
  line-height: var(--small-text-line-height);
  white-space: nowrap;
  font-style: var(--small-text-font-style);
}

.landing-page .text-wrapper-4 {
  position: relative;
  width: fit-content;
  font-family: var(--small-text-font-family);
  font-weight: var(--small-text-font-weight);
  color: #828282;
  font-size: var(--small-text-font-size);
  letter-spacing: var(--small-text-letter-spacing);
  line-height: var(--small-text-line-height);
  white-space: nowrap;
  font-style: var(--small-text-font-style);
}

.landing-page .customer-quote-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--variable-collection-spacing-m);
  padding: var(--variable-collection-spacing-SM);
  position: relative;
  flex: 1;
  align-self: stretch;
  flex-grow: 1;
  margin-top: -1px;
  margin-bottom: -1px;
  background-color: #ffffff;
  border-radius: 12px;
  border: 1px solid;
  border-color: var(--colors-border-border-default);
}

.landing-page .customer-quote-3 {
  margin-right: -1px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--variable-collection-spacing-m);
  padding: var(--variable-collection-spacing-SM);
  position: relative;
  flex: 1;
  align-self: stretch;
  flex-grow: 1;
  margin-top: -1px;
  margin-bottom: -1px;
  background-color: #ffffff;
  border-radius: 12px;
  border: 1px solid;
  border-color: var(--colors-border-border-default);
}

.landing-page .navigation-footer {
  position: absolute;
  width: 1440px;
  height: 264px;
  top: 4547px;
  left: 0;
  background-color: #ffffff;
}

.landing-page .items {
  display: flex;
  flex-direction: column;
  width: 187px;
  align-items: flex-end;
  justify-content: center;
  gap: var(--variable-collection-spacing-s);
  position: absolute;
  top: 48px;
  left: 736px;
}

.landing-page .text-wrapper-5 {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: var(--small-text-font-family);
  font-weight: var(--small-text-font-weight);
  color: #000000;
  font-size: var(--small-text-font-size);
  letter-spacing: var(--small-text-letter-spacing);
  line-height: var(--small-text-line-height);
  font-style: var(--small-text-font-style);
}

.landing-page .text-wrapper-6 {
  position: relative;
  align-self: stretch;
  font-family: var(--small-text-font-family);
  font-weight: var(--small-text-font-weight);
  color: #444444;
  font-size: var(--small-text-font-size);
  letter-spacing: var(--small-text-letter-spacing);
  line-height: var(--small-text-line-height);
  font-style: var(--small-text-font-style);
}

.landing-page .items-2 {
  display: flex;
  flex-direction: column;
  width: 187px;
  align-items: flex-end;
  justify-content: center;
  gap: var(--variable-collection-spacing-s);
  position: absolute;
  top: 48px;
  left: 955px;
}

.landing-page .items-3 {
  display: flex;
  flex-direction: column;
  width: 187px;
  align-items: flex-end;
  justify-content: center;
  gap: var(--variable-collection-spacing-s);
  position: absolute;
  top: 48px;
  left: 1173px;
}

.landing-page .text-wrapper-7 {
  position: absolute;
  height: 36px;
  top: 51px;
  left: 80px;
  font-family: var(--subheading-font-family);
  font-weight: var(--subheading-font-weight);
  color: #000000;
  font-size: var(--subheading-font-size);
  letter-spacing: var(--subheading-letter-spacing);
  line-height: var(--subheading-line-height);
  white-space: nowrap;
  font-style: var(--subheading-font-style);
}

.landing-page .social-icons {
  display: inline-flex;
  align-items: flex-start;
  gap: var(--variable-collection-spacing-XS);
  position: absolute;
  top: 176px;
  left: 80px;
}

.landing-page .buttons-icon {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 4px;
}

.landing-page .icon {
  position: relative;
  width: 24px;
  height: 24px;
  top: 8px;
  left: 8px;
}

.landing-page .icon-2 {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 2px;
  left: 2px;
}

.landing-page .icon-3 {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 3px;
  left: 3px;
}

.landing-page .icon-4 {
  position: absolute;
  width: 20px;
  height: 14px;
  top: 5px;
  left: 2px;
}

.landing-page .divider {
  position: absolute;
  width: 1280px;
  height: 1px;
  top: 0;
  left: 80px;
  object-fit: cover;
}

.landing-page .navigation {
  position: absolute;
  width: 1440px;
  height: 164px;
  top: 0;
  left: 0;
  background-color: #ffffff;
}

.landing-page .items-4 {
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
  gap: var(--variable-collection-spacing-m);
  position: absolute;
  top: 56px;
  left: 874px;
}

.landing-page .text-wrapper-8 {
  position: relative;
  width: fit-content;
  font-family: var(--body-text-font-family);
  font-weight: var(--body-text-font-weight);
  color: #000000;
  font-size: var(--body-text-font-size);
  letter-spacing: var(--body-text-letter-spacing);
  line-height: var(--body-text-line-height);
  white-space: nowrap;
  font-style: var(--body-text-font-style);
}

.landing-page .button {
  all: unset;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 14px 24px;
  position: relative;
  flex: 0 0 auto;
  background-color: #000000;
  border-radius: 8px;
  box-shadow: var(--button-shadow);
}

.landing-page .text-wrapper-9 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--small-text-font-family);
  font-weight: var(--small-text-font-weight);
  color: #ffffff;
  font-size: var(--small-text-font-size);
  letter-spacing: var(--small-text-letter-spacing);
  line-height: var(--small-text-line-height);
  white-space: nowrap;
  font-style: var(--small-text-font-style);
}

.landing-page .hero-image {
  position: absolute;
  width: 80px;
  height: 100px;
  top: 32px;
  left: 208px;
  border-radius: 8px;
  background-image: url(./image/Chilli\ Logo.svg);
  background-size: cover;
  background-position: 50% 50%;
}

.landing-page .hero-image-2 {
  position: absolute;
  width: 1000px;
  height: 640px;
  top: 581px;
  left: 220px;
  border-radius: 8px;
  background-image: url(./image/Beef\ Rice\ Bowl.webp);
  background-size: cover;
  background-position: 50% 50%;
}

.landing-page .text-wrapper-10 {
  position: absolute;
  width: 624px;
  top: 1370px;
  left: 80px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 48px;
  letter-spacing: -0.96px;
  line-height: normal;
}

.landing-page .frame-2 {
  display: flex;
  width: 1279px;
  align-items: center;
  gap: 32px;
  position: absolute;
  top: 1477px;
  left: 80px;
}

.landing-page .card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.landing-page .image {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 405px;
  border-radius: 8px;
  background-image: url(./image/Chicken\ Katsu.webp);
  background-size: cover;
  background-position: 50% 50%;
}

.landing-page .copy {
  display: flex;
  flex-direction: column;
  width: 381px;
  align-items: flex-start;
  justify-content: center;
  gap: 4px;
  position: relative;
  flex: 0 0 auto;
}

.landing-page .text-wrapper-11 {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 36px;
}

.landing-page .p {
  position: relative;
  align-self: stretch;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #828282;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 30px;
}

.landing-page .image-2 {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 405px;
  border-radius: 8px;
  background-image: url(./image/Cumi\ Tepung.webp);
  background-size: cover;
  background-position: 50% 50%;
}

.landing-page .image-3 {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 405px;
  border-radius: 8px;
  background-image: url(./image/Udang\ Tepung.webp);
  background-size: cover;
  background-position: 50% 50%;
}

.landing-page .image-4 {
  position: absolute;
  width: 704px;
  height: 704px;
  top: 2198px;
  left: 736px;
  border-radius: 8px 0px 0px 8px;
  background-image: url(./img/image-2.png);
  background-size: cover;
  background-position: 50% 50%;
}

.landing-page .text-wrapper-12 {
  width: 624px;
  top: 3081px;
  position: absolute;
  left: 80px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 48px;
  letter-spacing: -0.96px;
  line-height: normal;
}

.landing-page .cards-2 {
  display: flex;
  width: 1280px;
  align-items: center;
  gap: 31px;
  position: absolute;
  top: 3188px;
  left: 80px;
}

.landing-page .card-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.landing-page .image-5 {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 341px;
  border-radius: 8px;
  background-image: url(./img/image-5.png);
  background-size: cover;
  background-position: 50% 50%;
}

.landing-page .copy-2 {
  width: 548.44px;
  gap: var(--variable-collection-spacing-XS);
  position: relative;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.landing-page .text-wrapper-13 {
  width: 548px;
  position: relative;
  margin-top: -1px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 36px;
}

.landing-page .text-wrapper-14 {
  width: 548px;
  position: relative;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #828282;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 36px;
}

.landing-page .image-6 {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 341px;
  border-radius: 8px;
  background-image: url(./img/image-3.png);
  background-size: cover;
  background-position: 50% 50%;
}

.landing-page .copy-3 {
  width: 547.56px;
  gap: var(--variable-collection-spacing-XS);
  position: relative;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.landing-page .text-wrapper-15 {
  width: 548px;
  margin-right: -0.44px;
  position: relative;
  margin-top: -1px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 36px;
}

.landing-page .text-wrapper-16 {
  width: 548px;
  margin-right: -0.44px;
  position: relative;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #828282;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 36px;
}

.landing-page .text-wrapper-17 {
  width: 624px;
  top: 2197px;
  position: absolute;
  left: 80px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 48px;
  letter-spacing: -0.96px;
  line-height: normal;
}

.landing-page .text {
  display: flex;
  flex-direction: column;
  width: 516px;
  align-items: flex-end;
  gap: 48px;
  position: absolute;
  top: 2304px;
  left: 79px;
}

.landing-page .text-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 8px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.landing-page .text-wrapper-18 {
  position: relative;
  width: 515px;
  margin-top: -1px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 36px;
}

.landing-page .text-wrapper-19 {
  position: relative;
  width: 515px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #828282;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 36px;
}

.landing-page .text-wrapper-20 {
  align-self: stretch;
  position: relative;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #828282;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 36px;
}

.landing-page .buttons {
  display: inline-flex;
  align-items: center;
  gap: 16px;
  position: absolute;
  top: 2831px;
  left: 79px;
}

.landing-page .div-wrapper {
  all: unset;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  padding: 12px 24px;
  position: relative;
  flex: 0 0 auto;
  background-color: #000000;
  border-radius: 8px;
  box-shadow: var(--button-shadow);
}

.landing-page .text-wrapper-21 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 36px;
  white-space: nowrap;
}

.landing-page .button-2 {
  all: unset;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  padding: 12px 24px;
  position: relative;
  flex: 0 0 auto;
  background-color: #e6e6e6;
  border-radius: 8px;
  box-shadow: var(--button-shadow);
}

.landing-page .text-wrapper-22 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 36px;
  white-space: nowrap;
}

.landing-page .section {
  position: absolute;
  width: 1440px;
  height: 236px;
  top: 4311px;
  left: 0;
  background-color: #f7f7f7;
}

.landing-page .buttons-2 {
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
  gap: 24px;
  position: absolute;
  top: 80px;
  left: 924px;
}

.landing-page .button-3 {
  all: unset;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  padding: 20px 32px;
  position: relative;
  flex: 0 0 auto;
  background-color: #000000;
  border-radius: 8px;
  box-shadow: var(--button-shadow);
}

.landing-page .button-4 {
  all: unset;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  padding: 20px 32px;
  position: relative;
  flex: 0 0 auto;
  background-color: #e6e6e6;
  border-radius: 8px;
  box-shadow: var(--button-shadow);
}

.landing-page .text-wrapper-23 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: var(--colors-text-text-default);
  font-size: 24px;
  letter-spacing: 0;
  line-height: 36px;
  white-space: nowrap;
}

.landing-page .text-wrapper-24 {
  width: 625px;
  top: 88px;
  position: absolute;
  left: 80px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 48px;
  letter-spacing: -0.96px;
  line-height: normal;
}

.landing-page .copy-4 {
  width: 844px;
  gap: 40px;
  position: absolute;
  top: 212px;
  left: 298px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.landing-page .page-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.landing-page .text-wrapper-25 {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 64px;
  letter-spacing: -1.28px;
  line-height: normal;
}

.landing-page .text-wrapper-26 {
  position: relative;
  align-self: stretch;
  font-family: var(--subheading-font-family);
  font-weight: var(--subheading-font-weight);
  color: #000000bf;
  font-size: var(--subheading-font-size);
  letter-spacing: var(--subheading-letter-spacing);
  line-height: var(--subheading-line-height);
  font-style: var(--subheading-font-style);
}
